@import "../1-helpers/variables";
@import "../1-helpers/mixin";

.introduce {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.introduce__contacts-box {
  margin: 24px 0;
  padding: 24px 0;
  position: relative;
  &::after {
    @include border-block(bottom);
  }
  &::before {
    @include border-block(top);
  }
}

.introduce__contacts-title {
  margin-bottom: 1rem;
  font-weight: 600;
  font-size: 1.25rem;
}

.introduce__contacts-phone,
.introduce__contacts-email,
.introduce__contacts-telegram {
  font-weight: 600;
  span {
    padding-right: 5px;
  }
  a {
    font-weight: 400;
    border-bottom: 1px solid $dark-grey;
  }
}
